h1,h2{
    color:rgb(24, 8, 143);
}

main{
    color:red;
}
nav{
    color:aqua;
    background-image: url(https://w0.peakpx.com/wallpaper/700/211/HD-wallpaper-landscape-view-of-white-covered-mountains-with-trees-reflection-on-body-of-water-nature.jpg);
    background-position: top;
}
li{color:black;}
li a:link{ color:red}